grant {
    permission java.net.SocketPermission "*:1024-65535" "connect,listen,resolve";
    permission java.net.SocketPermission "*:80" "connect";
}